@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container{
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.ql-toolbar{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
